{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | Smart Takhrij Admin{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'admin_custom/css/admin_theme.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <span class="logo-icon">ST</span>
        Smart Takhrij Admin
    </a>
</h1>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'admin_custom/js/admin_theme.js' %}" defer></script>
{% endblock %}

{% block nav-global %}{% endblock %}